body {
    padding-bottom: 8%;
    background-image: url(../images/qbkls.png);
}

.mainContent {
    margin-bottom: 5%;
}

h2 {
    padding: 1% 0;
}



.container {
    max-width: 70%;
    margin-top: 2%;
}

header {
    width: 100%;
    border-bottom: 2px solid;
    margin: 0;
}