body {
    padding-bottom: 100px;
    background-image: url(../images/qbkls.png);
}

.mainContent {
    margin-bottom: 75px;
}

#portrait {
    max-width: 20%;
    height: auto;
}

.container {
    max-width: 70%;
    background-color: #fff;
    margin-top: 2%;
}

header {
    width: 100%;
    background-color: #fff;
    border-bottom: 2px solid;
    margin: 0;
}